<section class="application-form" style="text-align:center">
    <h2>
      C# Developer Position
    </h2>
    
    <form [formGroup]="applicationForm" (ngSubmit)="applyToJob()" autocomplete="off">
      <div class="form-group">
        <label>Name:</label>
        
        <table align="center">
          <tr>
            <td>
              <input type="text" class="form-control" formControlName="forename" placeholder="Forename" required>
            </td>
            <td>
              <input type="text" class="form-control" formControlName="surname" placeholder="Surname" required>
            </td>
        </tr>
        </table>

        <br>

        <label>Home Address:</label>
        <input type="text" class="form-control" formControlName="address1" placeholder="Address Line 1" required>
        <input type="text" class="form-control" formControlName="address2" placeholder="Address Line 2" required>
        <input type="text" class="form-control" formControlName="address3" placeholder="Address Line 3">
        <br>
        <input type="text" class="form-control" formControlName="town" placeholder="Town">
        <table style="width:100%">
          <tr>
            <td>
              <input type="text" class="form-control" formControlName="county" placeholder="County" required>
            </td>
            <td>
              <input type="text" class="form-control" formControlName="postcode" placeholder="Postcode" required>
            </td>
          </tr>
        </table>
      </div>

      <br>

      <label>Contact Information:</label>
      <input type="text" class="form-control" formControlName="homePhone" placeholder="Home Phone Number" required>
      <input type="text" class="form-control" formControlName="mobilePhone" placeholder="Mobile Phone Number">
      <input type="text" class="form-control" formControlName="emailAddress" placeholder="E-Mail Address" required>
      
      <br>

      <label>Earliest Start Date:</label>
      <input type="date" class="form-control" [min]="today" formControlName="startDate" required>
      <br>

      <div class="form-group text-center">
        <button class="btn btn-danger mr-2" type="button" (click)="cancel()">Cancel Application</button>
        <button class="btn btn-success mr-2" type="submit" [disabled]="!applicationForm.valid">Submit Application</button>
      </div>
    </form>
</section>

