<h1 align="center">Careers</h1>
<br>

<div class="row justify-content-center text-center">
    <button class="btn btn-dark mr-2" type="button" (click)="applicantViewToggle()">
    <span *ngIf="!adminMode">Switch to Admin Mode</span>
    <span *ngIf="adminMode">Switch to Applicant Mode</span>
    </button>
</div>

<hr>

<div *ngIf="!adminMode">
  <div class="row justify-content-center">
    <div class="col-4">
      <app-application></app-application>
    </div>
  </div>
</div>

<div *ngIf="adminMode">
    <div class="row justify-content-center">
        
          <app-applicants></app-applicants>
        
      </div>
</div>